<div class = "row" >
<div class = "large-12 columns" >
	<div class = "welcome_title">

<h1>Welcome to the SkyBlog</h1>
</div>
<div class = "welcome_text">
	<p>Read the world news on this page. </p>
</div>
</div>
</div>