<div class = "row" >
<div class = "large-12 columns" >
	<div class = "welcome_title">

<h1>Welcome to the SkyBlog</h1>
</div>
<div class = "welcome_text">
	<p>Grab some pop, Document your thoughts, is this what you do? </p>
</div>
</div>
</div>